{% extends "inc/base.html" %} {% block content %}

<div class="question">
    <div class="row">
        <div class="col-3">
            <div class="questions-avatar">
                <img src="{% static "img/img_avatar" %}" alt="">
            </div>
        </div>
        <div class="col-6">
            <h2><a href="#">{{ question.title }}</a></h2>
            <div class="question-text">{{question.text}}</div>
            <div class="row">
                <div>class="col-2"></div>
                Answers (3)
            </div>
            <div class="col-4"></div>
            Tags: <a href="#">wd-40</a>, <a href="#">wd-40</a>
        </div>
    </div>
</div>
<div class="col-3">Left</div>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>

{% endblock content %}
